%nav#blog-navbar.navbar{class: "navbar-default navbar-static-top", role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{type: "button", :"data-toggle" => "collapse", :"data-target" => "#main-navbar-collapse"}
        %span.sr-only<
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/"}<
        %span.logo
          Rubyプログラミング少年団
      %a.navbar-brand{href: "/blog/"}<
        %span.logo
          　ブログ　

    #main-navbar-collapse.collapse{class: "navbar-collapse"}
      %p.navbar-text{class: "navbar-right"}<
        %a{href: "#{blog.options.prefix.to_s}/feed.xml", target: "_blank"}<
          Atom Feed
