%footer.text-center
  .container
    %ul.list-inline
      %li
        %a{href: "/"}
          © Smalruby, 2014
      %li
        |
      %li
        %a{href: "/about.html"}
          運営団体
      -#%li
        |
      -#%li
        利用規約
      -#%li
        |
      -#%li
        プライバシーポリシー
      %li
        |
      %li
        %a{href: "#{blog.options.prefix.to_s}/"}
          ブログ
      %li
        |
      %li
        %a{href: "mailto:contact@smalruby.jp"}
          お問い合わせ

    %p.small
      本ウェブサイトのドキュメントのライセンスは
      %a{href: "http://creativecommons.org/licenses/by/3.0/", target: "_blank"}
        CC BY 3.0
      、ソースコードのライセンスは
      %a{href: "http://opensource.org/licenses/mit-license.php", target: "_blank"}
        MIT
      です。

    %p.small
      スモウルビー：SmalrubyとRubyプログラミング少年団の、イメージキャラクターとロゴのライセンスは「Copyright © Hikari Arakawa (Smalruby and The Ruby Programming Shounendan) 2013。このイメージキャラクターとロゴ、もしくはその派生版は、スモウルビー：SmalrubyとRubyプログラミング少年団に関連する文脈で誰でも自由に利用できるが、それらは荒川ひかりによる保証を示すものではない。」です。
