%footer.text-center
  .container
    %ul.list-inline
      %li
        %a{href: "/"}
          © Smalruby, 2014
      %li
        |
      %li
        %a{href: "/about.html"}
          運営団体(Smalruby)
      %li
        |
      %li
        利用規約
      %li
        |
      %li
        プライバシーポリシー
      %li
        |
      %li
        %a{href: "mailto:contact@smalruby.jp"}
          お問い合わせ

    %p.small
      本ウェブサイトのドキュメントのライセンスは
      %a{href: "http://creativecommons.org/licenses/by/3.0/", target: "_blank"}
        CC BY 3.0
      、ソースコードのライセンスは
      %a{href: "http://opensource.org/licenses/mit-license.php", target: "_blank"}
        MIT
      です。

    %p.small
      Smalrubyのロゴマークは Copyright © Hikari Arakawa (Smalruby Project) 2013, licensed under
      %a{href: "http://creativecommons.org/licenses/by-sa/2.1/jp/"}
        CC BY-SA 2.1 JP
      です。
