---
title: 運営団体(Smalruby)
---

.container
  %h1
    運営団体

  %table.table
    %tr
      %th
        団体名
      %td
        スモウルビー(英名:Smalruby)
    %tr
      %th
        主な活動場所
      %td
        島根県松江市
    %tr
      %th
        代表
      %td
        高尾宏治 (島根県松江市八雲町)
    %tr
      %th
        連絡先
      %td
        %a{href: "mailto:contact@smalruby.jp"}
          contact@smalruby.jp
    %tr
      %th
        理念
      %td
        小学3年生以上の子どもたちがプログラミングを学ぶための
        %ul
          %li
            教材の開発
          %li
            ワークショップの運営
          %li
            ノウハウの提供
        を行い、プログラミングを学びたい子どもたちにとって最適な環境を提供する
    %tr
      %th
        主な活動
      %td
        %ul
          %li
            Scratch(初心者が最初に正しい構文の書き方を覚えること無く結果を得られるプログラミング言語学習環境)のRuby実装であるSmalrubyの開発
          %li
            Smalrubyを利用した作品を共有するウェブサイトの開発・運営
          %li
            Smalrubyを利用したプログラミング学習塾の運営
          %li
            プログラミング学習塾の運営ノウハウの提供

  %h2
    沿革

  %ul
    %li
      2014年4月1日 - 活動開始
