---
title: Smalruby
---

.container-fluid{class: "text-center"}
  .page-header
    %h1<
      ぼくたち、
      %ruby
        Ruby
        %rp
          （
        %rt
          るびー
        %rp
          ）
        プログラミング
        %rp
          （
        %rt
          ぷろぐらみんぐ
        %rp
          ）
        少年団
        %rp
          （
        %rt
          しょうねんだん
        %rp
          ）
      ！

  %p.lead
    %ruby
      子
      %rp
        （
      %rt
        こ
      %rp
        ）
    どもたちが
    %ruby
      プログラム
      %rp
        （
      %rt
        ぷろぐらむ
      %rp
        ）
    を
    %ruby
      作
      %rp
        （
      %rt
        つく
      %rp
        ）
    るよろこびを
    %ruby
      体験
      %rp
        （
      %rt
        たいけん
      %rp
        ）
    するための
    %b
      「
      %ruby
        プログラミング
        %rp
          （
        %rt
          ぷろぐらみんぐ
        %rp
          ）
        少年団
        %rp
          （
        %rt
          しょうねんだん
        %rp
          ）
      」
    がまもなくはじまります。

.container-fluid{class: "text-center"}
  .page-header
    %h2
      %ruby
        プログラミング
        %rp
          （
        %rt
          ぷろぐらみんぐ
        %rp
          ）
      %ruby
        体験
        %rp
          （
        %rt
          たいけん
        %rp
          ）
      %small
        （
        %ruby
          Smalruby
          %rp
            （
          %rt
            スモウルビー
          %rp
            ）
        を
        %ruby
          使
          %rp
            （
          %rt
            つか
          %rp
            ）
        ってみる）

  %a.btn{class: "btn-primary btn-lg", href: "http://smalruby.herokuapp.com", target: "_blank"}
    %ruby
      プログラム
      %rp
        （
      %rt
        ぷろぐらむ
      %rp
        ）
    を
    %ruby
      作
      %rp
        （
      %rt
        つく
      %rp
        ）
      る
    %br
    %h2
      %span.glyphicon{class: "glyphicon-pencil"}

.container{style: "margin-top: 2em;"}
  .panel{class: "panel-warning"}
    .panel-heading{class: "text-center"}
      %h2
        %span.glyphicon{class: "glyphicon-heart"}
        保護者やワークショップを運営されるみなさんへ
        %span.glyphicon{class: "glyphicon-heart"}
    .panel-body
      .page-header
        %h3
          %span.glyphicon{class: "glyphicon-envelope"}
          通知を受け取る
      %p
        %b
          プログラミング少年団はまだ準備段階です。
        活動を開始するまで、いましばらくお待ちください。

      %p
        なお、以下のフォームからメールアドレスを登録いただきますと、プログラミング少年団の活動開始時に活動内容、会場、料金などを連絡いたします。ご登録いただいたメールアドレスはプログラミング少年団の活動開始時の連絡以外には使用いたしませんので、ご安心ください。

      %h3
        %a{href: "https://docs.google.com/forms/d/1EouM7CJ6kL1VW9iN7P076D8UPkP8OKUyCexT9tHA_8M/viewform", target: "_blank"}
          %span.glyphicon{class: "glyphicon-send"}
          通知の登録フォーム

      .page-header
        %h3
          %span.glyphicon{class: "glyphicon-info-sign"}
          Smalruby（スモウルビー）プロジェクトとは
      %p
        Smalrubyプロジェクトは、小学3年生以上の子どもたちがプログラミングを学ぶための
        %ul
          %li
            教材の開発
          %li
            ワークショップの運営
          %li
            ノウハウの提供
        を行うプロジェクトで、
        %b
          主に島根県松江市周辺
        で活動しています。

      %p
        プログラムはコンピュータが理解できる言葉であるプログラミング言語を使って作ります。プログラミング言語にはいろいろな種類がありますが、SmalrubyプロジェクトではRuby（るびー）を扱います。

      .page-header
        %h3
          %span.glyphicon{class: "glyphicon-info-sign"}
          プログラミング少年団とは
      %p
        Smalrubyプロジェクトが考案した、
        %ul
          %li
            「一人でも多くの青少年にプログラミング（プログラムを作ること）の喜びを!」
          %li
            「プログラミングを通じて青少年とネット社会との接し方を考える組織を地域社会の中に!」
        を掲げて活動している青少年のための団体です。スポーツ少年団（※1）のようなものだとお考えください。

      %p
        2014年4月現在、まだプログラミング少年団としての活動は行っていません。

      %p.text-muted
        ※1: スポーツ少年団は、「一人でも多くの青少年にスポーツの喜びを!」「スポーツを通じて青少年のからだとこころを育てる組織を地域社会の中に!」と願いつくられた日本最大の青少年スポーツ団体です。
